/* Size fonts*/ 
$glob-size:20px;
/* color form*/ 
$glob-color-form:#472cc3;
/*mixin font */
@mixin font {
   font-size: $glob-size;
   line-height: 1.5;
   margin: 60px auto;
}
/*Template formstyle */
%formstyle{
   margin-bottom: 20px;
   font-style: 20px;
   font-weight: 900;
}

.header{
@include font;

& span{
   display: block;
}
}

.section{
   padding: 30px 0;

   &-header{
      @extend %formstyle
   }
}
.video{
   margin-bottom: 30px;
}
.form{
   border: 5px solid $glob-color-form;
   padding: 30px 20px;
   text-align: center;

   &-header{
      @extend %formstyle
   }
   & input{
      margin-bottom: 12px;
   }
   &-btn{
      margin: 12px auto;
      border-color: $glob-color-form;
      display: block;
   }
}
.feature{
   margin: 60px auto;

   & p{
      margin-top: 20px;
   }
   &-box{
      height: 160px;
   }
}
.foto-clients{
   margin-bottom: 20px;
}

